.home-header{
  padding: 2% 2%;
  background-color: lightblue;
}

.home-header-title{
  float: left;
}

.home-header-action{
  float: right;
}

.board-box {
  float: left;
    margin: 2%;
    width: 40%;
    background: lightblue;
    border-radius:8px;
}

.board-title{
  background: lightslategray;
  color: white;
  text-align: center;
  padding: 2% 0%;
  font-size: larger;
  font-weight: 600;
    border-radius:8px;
    width: 100%;
}

.board-news-area{
  padding: 0% 2%;
}

.board-title-text{
  float: left;
  width: 50%;
}

.news-row{
  padding: 0% 2%;
  width: 100%;
  display: table-row;
}

.news-title{
  display: table-cell;
  width: 35.5%;
}

.news-action{
  display: table-cell;
  text-align: right;
}
